/*B O D Y*/

body {
    background-color: #eeeeee;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    margin: 0;
  }

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    text-align: justify;
}




/*H E A D E R*/
/* navigation */

.nav_bar {
    overflow: hidden;
    height: 50px;
    background: #1a2028;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav_bar a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
}
.nav_bar a:hover{
    color: #0071bc;
}
.nav_bar .active {
    color: #0071bc;
    font-weight: bold;
  }
.nav_bar .icon {
    display: none;
}

.nav_bar a.rightSide{
    float: right;
}


.logo {
    float:left;
    width: 100px;
    height: 30px;
    padding: 10px 15px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 720px) {
    .nav_bar a:not(:active) {display: none;}
    .nav_bar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 720px) {
    .nav_bar.responsive {
        position: relative; height: 370px;
    }
    .nav_bar.responsive .icon {
        float:left;
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav_bar.responsive .atlassian{
      display: none;
    }
    .nav_bar.responsive a{
      float: none;
      display: block;
      text-align: left;
    }
    .nav_bar.responsive .firstElement{
      padding-top:60px;
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  


/* C O N T E N T */

.content{
    background: #ffffff;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 820px;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 50px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.hero{
  text-align: center;
  width: 100%;
  height:150px;
  padding-top:50px;
}
.hero h1{
  padding-top:70px;
}





/* F I N D */
.heroFind{
  width: 100%;
  height: auto;
}

.carboxes{
  display: inline-block;
  width: 800px;
  border:none;
  padding-top: 30px;
    margin-right: 0px;
    margin-left: auto;
}
.carbox{
  width:355px;
  height:400px;
  display: inline-block;
  background-color:#dee1ec;
  border-radius: 25px;
  margin-left:25px;
  justify-self: right;
  margin-bottom:50px;
}

.carPicture{
  height:170px;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.carCriteria{
  padding-left:30px;
  height:180px;
  width:295px;
  display:inline-block;
}

.criteria{
  width:100%;
}

.title p{
  font-weight: bold;
}
.buttonsBlock{
  background-color: #1a2028;
  width: 100%;
  height: 50px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  justify-content: center;
  display: flex;
}

.details{
  background-color:#0071bc;
  border: none;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.filter{
  width: 300px;
  float: left;
  padding-top:10px;
  height: auto;
}

.selectBox{
  background-color: #dee1ec;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
.filterBox{
  background-color: #dee1ec;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  margin-left: 23px;
  margin-bottom: 10px;
  font-size: 16px;
}
.filterBoxDrop{
  padding-top:19px;
  padding-bottom: 10px;
}
.filter p{
  padding-left: 25px;
  font-weight: bold;
  padding-top:10px;
  font-size: 20px;
}
.centeredFind {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color:white;
  white-space:nowrap;
}

.ApplyButton{
  background-color:#0071bc;
  border: none;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 20px;
  margin-left:95px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}






/* H O M E P A G E */

.contentHome{
  background: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 1100px;
}
.heroHome{
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.homeBlock{
  position:absolute;
  top:400px;
  padding-left: 250px;
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
}
.whatIs{
  width: 600px;
  height: 600px;
  border-radius: 25px;
  background-color:#dee1ec;
}
.whatIsText{
  padding-top:30px;
  padding-left:30px;
  padding-right:30px;
  font-size: 20px;
}
.whatIsText h2{
  margin-top:30px;
  text-align:center;
}
.whatIsText h3{
  margin-bottom: 0;
  padding-left: 15px;
}
.whatIsText p{
  font-size: 18px;
}
.buttonBlock{
  background-color: #1a2028;
  width: 100%;
  height: 80px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  justify-content: center;
  display: flex;
  margin-top:60px;
}

.try{
  background-color:#0071bc;
  border: none;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 25px;
  margin-right: 20px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.more{
  background-color:#1a2028;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 25px;
  margin-right: 20px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}





/* C O M P A R E  M E N U */
.compareMenu{
  width: 500px;
  height: 550px;
  border-radius: 25px;
  background-color:#dee1ec;
  padding-top: 10px;
}
.compareCriteria{
 padding-left:11%;
}
.compareCriteria p{
  font-weight: bold;
  padding-left:1.5vw;
 }
.compareMenu p{
  font-size: 18px;
}
.compareMenu h2{
  text-align: center;
}
.selectBoxCompare{
  background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.buttonBlockCompare{
  background-color: #1a2028;
  width: 100%;
  height: 60px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.saveCriteria{
  background-color:#0071bc;
  border: none;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 15px;
  margin-right: 10px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.compareBlock{
  padding-left: 300px;
  padding-top:30px;
  padding-bottom: 60px;
}





/* C O M P A R E*/

.carboxesCompare{
  display: inline-block;
  width: 100%;
  border:none;
  padding-top: 30px;
    margin-right: 0px;
    margin-left: auto;
}
.carboxCompare{
  width:505px;
  height:400px;
  display: inline-block;
  background-color:#dee1ec;
  border-radius: 25px;
  margin-left:20px;
  justify-self: right;
  margin-bottom:50px;
}
.carCriteriaCompare{
  padding-left:50px;
  height:180px;
  width:400px;
  display:inline-block;
}
.comparePageCriteria{
  width:100%;
}
.choose{
  background-color:#1a2028;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  margin-right: 0px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.CompareButton{
  background-color:#0071bc;
  border: none;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  outline: none;
  margin-left:43%;
  margin-bottom:20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}





/* C O M P A R E  R E S U L T */
.carboxesResult{
  display: inline-block;
  width: 100%;
  border:none;
  padding-top: 30px;
    margin-right: 0px;
    margin-left: auto;
}
.carboxResult{
  width:800px;
  height:440px;
  display: inline-block;
  background-color:#dee1ec;
  border-radius: 25px;
  margin-left:150px;
  justify-self: right;
  margin-bottom:50px;
}
.carPictureResult{
  height:170px;
  justify-content: center;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
.carCriteriaResult{
  padding-left:100px;
  height:140px;
  width:600px;
  display:inline-block;
}

.criteriaResult{
  width:100%;
}

.containerResult{
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  text-align: justify;
  min-height: 650px;
}
.contentResult{
  background: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 650px;
}
.saveResult{
  background-color:#0071bc;
  border: none;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.buttonBlockCompareResult{
  background-color: #1a2028;
  width: 100%;
  height: 60px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  justify-content: center;
  display: flex;
}





/* C O M P A R E  M Y  C A R */
.addCar{
  background-color:#1a2028;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 15px;
  margin-left:10px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
input[type=text]{
  background-color: white;
  border-radius: 11px;
  width: 350px;
  height: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
input[type=file]{
margin-left:20px;
}

.addCarClass{
  width: 500px;
  height: 600px;
  border-radius: 25px;
  background-color:#dee1ec;
  padding-top: 10px;
}
.addCarCriteria{
 padding-left:11%;
}
.addCarCriteria p{
  font-weight: bold;
  padding-left:1.5vw;
  font-size: 18px;
 }
.addCarClass h2{
  text-align: center;
}
.contentAddCar{
  background: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 900px;
}






/* H I S T O R Y */

.containerHistory{
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  text-align: justify;
  min-height: 800px;
}
.contentHistory{
  background: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 800px;
}
.carboxesHistory{
  display: inline-block;
  width: 100%;
  height: 290px;
  border:none;
  padding-top: 30px;
}
.carboxHistory{
  width:1040px;
  height:270px;
  display: inline-block;
  background-color:#dee1ec;
  border-radius: 25px;
  justify-self: right;
  margin-left: 27px;
  margin-bottom: 50px;

}
.carboxesHistoryInside{
  height: 400px;
}
.carPictureHistory{
  height:170px;
  width: 340px;
  justify-content: center;
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 40px;
  margin-right: 0px;
}
.carCriteriaHistory{
  height:110px;
  width: 500px;
  display:inline-block;
}
.criteriaHistory{
  width:100%;
}
.buttonsBlockHistory{
  background-color: #1a2028;
  width: 100%;
  height: 50px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  justify-content: center;
  display: flex;
}
.detailsHistory{
  background-color:#0071bc;
  border: none;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  margin-right: 30px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.deleteHistory{
  background-color:#1a2028;
  border-radius: 25px;
  color: white;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}





/* A B O U T   U S */
.contentAbout{
  background: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 2000px;
}
.heroAbout{
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.aboutBlock{
  position:absolute;
  top:400px;
  padding-left: 50px;
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
}
.whatIsAbout{
  width: 1000px;
  height: 1500px;
  border-radius: 25px;
  background-color:#dee1ec;
}
.whatIsTextAbout{
  padding-top:30px;
  padding-left:30px;
  padding-right:30px;
  font-size: 20px;
}
.whatIsTextAbout h2{
  margin-top:60px;
  text-align:center;
}
.whatIsTextAbout h3{
  margin-bottom: 0;
  padding-left:15px;
}











/* F O O T E R */

.footer { 
  width: 100%;  
    background: #1a2028;
    height: 310px;
    overflow: hidden;
}
.footer .insideContainer{
  width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    text-align: justify;
}
.footer .contentContainer{
padding-left:20px;
padding-right:20px;
}

.textbox{
display: inline-block;
max-height: 100px;
width: 340px;
color: white;
overflow: hidden;

}
.footerlinks a{
    text-align:center;
    float:right;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    padding-top:0px;
}
.footerlinks a:hover{
  color: #0071bc;
}
a.disabled{
  float: left;
  text-align: left;
  cursor: context-menu;
  pointer-events: none;
  padding-left: 0px;
}
a.disabled:hover{
  color: white;
}
p.advert{
  padding: none;
}
.advertisingbox{
  display: inline-block;
  width: 520px;
  height: 110px;
  
  max-height: 110px;
  overflow: hidden;
}


p.box{
  padding-right: 0px;
  padding-left: 0px;
}
.textboxes{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top:20px;
}
.advertisingboxes{
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}
.copyright{
  display: none;
}
@media screen and (max-width: 1099px) {

.footer{
  height: 610px;
}
.textboxes{
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  padding-top:20px;
  height: 250px;
}
.textbox{
  width: 100%;
}

.advertisingboxes{
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
}
.advertisingbox{
  padding-right:10px;
  padding-left:10px;
  margin-bottom: 20px;
}

.insideContainer{
  width: 100%;
    width: 1060px;
    margin: 0px auto;
    text-align: justify;
}
@media screen and (max-width: 960px) {
  .advertisingbox{
    padding-right:20px;
    padding-left:20px;
  }
  @media screen and (max-width: 600px) {
    .advertisingbox{
      max-width: 100%;
      max-height: 100%;
    }
    .advertisingContainer{
      padding-left:20px;
      padding-right:20px;
    }
    .footerlinks{
      display: flex;
  flex-direction: column;
  padding-bottom: 20px;
    }
    a.disabled{
      display: none;
    }
    .footer{
      height: 680px;
    }
    .copyright{
      max-width: 100%;
      padding-top: 20px;
      color:white;
      display:inline;
      text-align: center;

    }

  }
}
}

/* S I G N  I N */
.contentLogin{
  background: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 900px;
}
.loginBlock{
  position:absolute;
  top:400px;
  padding-left: 295px;
}

.containerLoginInput {
  padding: 16px;
}
.socialmedialogo{
  padding-top: 5px;
  padding-left: 5px;
  width: 50px;
  height: 50px;
}
.whatIsSign{
  width: 500px;
  height: 350px;
  border-radius: 25px;
  background-color:#dee1ec;
}
.whatIsTextSign{
  padding-left:1vw;
  padding-right:1vw;
}
.whatIsTextSign p{
  margin-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
}
.whatIsTextSign h2{
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
.login{
  display: inline-block;
  width:200px;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 300px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 40px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.btn {
  width: 200px;
  padding: 15px;
  border: none;
  border-radius: 100px;
  margin-left: 115px;
  opacity: 1;
  display: inline-block;
  font-size: 21px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
input:hover,
.btn:hover {
  opacity: 0.8;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
.col {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}
.col2 {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}